project:
  type: website
  output-dir: docs

website:
  title: "Walk with me"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/
      - icon: twitter
        href: https://twitter.com
      - icon: linkedin
        href: www.linkedin.com/in/lloyd-adu-kumi
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css

editor: visual

